<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{staffs}}
    <form action="{% url 'add_subject_save' %}" method="post">
        {% csrf_token %}
        <label for="course_name">Course Name:</label>
        <select name="course">
            {% for course in courses %}
            <option >{{course}}</option>
            {% endfor %}
        </select>
        <label for="staff_name">Course Name:</label>
        <select name="staff" name="fruit">
            {% for staff in staffs %}
            <option >{{staff}}</option>
            {% endfor %}
        </select>
        <label for="course_name">Subject Name:</label>
        <input type="text" name="subject" id="">
        <input type="submit" name="" id="">

    </form>

</body>

</html>