<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    {{ all_student_count }}
    {{ subject_count }}
    {{course_count}}
    {{staff_count}}
    {{course_name_list}}
    {{subject_count_list}}
    {{student_count_list_in_course}}
    {{subject_list}}
    {{student_count_list_in_subject}}
    {{staff_attendance_present_list}}
    {{staff_attendance_leave_list}}
    {{staff_name_list}}
    {{student_attendance_present_list}}
    {{student_attendance_leave_list}}
    {{student_name_list}}
</body>
</html>